/* importing Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* variables */
:root {
  --bs-body-bg: #2e2e2e;
  --bs-body-color: #f1f1f1;

  --bs-dark: #2e2e2e;
  --bs-primary: #121212;
  --bs-info: #f1f1f1;
  --bs-link-color: #121212;
  --bs-btn-hover-color: #121212;

  --bs-navbar-color: #f1f1f1;
  --bs-navbar-hover-color: #121212;
  --bs-navbar-bg: #2e2e2e;
  --bs-navbar-brand-color: #f1f1f1;
  --bs-navbar-brand-hover-color: #f1f1f1;
}
/* Css reset */
*, *:after, *:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body {
        background-color: #222;
        display: grid;
        font-family: 'poppins', sans-serif;
        font-size: .938rem;
        font-weight: 400;
        grid-template-rows: auto 1fr auto; 
        grid-template-columns: 1fr;       
        overflow-x: hidden;
        transition: all 0.5s ease-in-out;
        scroll-padding: 97px;
    }
header {
        background: #2e2e2e;
        position: fixed;
        display: flex;
        left: 0px;
        top: 0px;
        max-width: 100%;
        width: 100%;
        z-index: 10;
    }

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7svh;
    width: 100%;
}

.main-nav a, button, .footer-nav a, .nav-item a {
    color: #f1f1f1;
    display: block;
    text-decoration: none;
    padding: 0px 15px;
    font-size: 2rem;
    transition: all 0.5s ease-in-out;
}

.main-nav a:hover, 
button:hover, 
.footer-nav a:hover, 
nav-item:hover, .btn:hover, 
.bootstrap footer a:hover,
.navbar-brand:hover {
    background: white;
    color: black;
    box-shadow: 0 0 5px   white,
                0 0 25px  white,
                0 0 50px  white,
                0 0 200px white;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
.nav-links {
    display: flex;
    justify-content: space-evenly;
    transition: all 0.5s ease-in-out;
}

.main-nav div a ~ a {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}
.menu-toggle {
  display: none;
  color: #f1f1f1;
  font-size: 1.8rem;
  cursor: pointer;
}

section{
    min-height: 75svh;
    padding-top: 7svh;
}

.home-icon {
    width: 100px;
}

.hero {
    align-items: center;
    background: #f1f1f1;
    display: flex;
    justify-content: center;
}

h2{
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin: 50px;
}

/* Project card styles */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    margin: auto;
    max-width: 90%;
    padding: 60px 0;
    width: 100%;
}

.card-box {
    align-items: center;
    background: #2e2e2e;
    flex-direction: column;
    font-family: inherit;
    height: 350px;
    display: flex;
    justify-content: center;
    position: relative;
    transition: all 0.5s ease-in-out;
    width: 300px;
}

.card-data {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    padding: 0 20px;
    position: relative;
    text-align: center;
    width: 100%;
}

.card-icon {
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    background-color: #2e2e2e;
    transition: all 0.5s ease-in-out;
}
.card-icon {
    color: var(--clr);
    box-shadow: 0 0 0 4px #2e2e2e, 0 0 0 6px var(--clr);
}

.card-box:hover .card-icon{
    color: #000;
    background-color: var(--clr);
    box-shadow: 0 0 0 4px #2e2e2e, 0 0 0 300px var(--clr);
}

.card-box::before, .card-box::after{
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.5s ease-in-out;
}

.card-box::before{
    inset: -10px 50px;
    border-top: 4px solid var(--clr);
    border-bottom: 4px solid var(--clr);
    transform: rotate(15deg);
}

.card-box::after{
    inset: 60px -10px;
    border-left: 4px solid var(--clr);
    border-right: 4px solid var(--clr);
    transform: rotate(15deg);
}

.card-box:hover:before{
    inset: -10px 40px;
    transform: rotate(0deg);
}

.card-box:hover:after{
    inset: 40px -10px;
    transform: rotate(0deg);
}

.card-data{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.card-data h3 {
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    transition: all 0.5s ease-in-out
}

.card-box:hover .card-data h3{
    color: black;
}

.card-data p {
    font-size: 0.9rem;
    color: white;
    transition: all 0.5s ease-in-out;
}

.card-box:hover .card-data p{
    color: black;
}

.card-data a{
    position: relative;
    display: inline-flex;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    border: 2px solid #000000;
    color: #000000;
    background-color: var(--clr);
    transition: all 0.5s ease-in-out;
}

.card-data a:hover{
    color: var(--clr);
    background-color: #2e2e2e;
}

/* Contact form */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #2e2e2e;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: white;
    border: 1px solid black;
}

footer p {
    align-content: center;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    color: white;
    grid-row: 1 / 3; /* spans all 3 rows */
    padding: 10px;
}

    /* I did not include the min width of 320px just incase someone had a smaller screen 
       so there still would be styling on it */
@media screen and (max-width: 767px) { 
    section {
        min-width: 320px;
        max-width: 767px;
    }

    .main-nav {
        min-width: 320px;
        max-width: 767px;
        width: 100%;
    }

    .nav-links {
        background-color: #2e2e2e;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        min-width: 320px;
        max-width: 767px;
        width: 100%;
        opacity: 0;
        text-align: right;
        transform: translateY(-10px);
        transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
        visibility: hidden;
    }

    .nav-links a {
        padding-right: 10%;
    }
    
    .main-nav div a ~ a {
        border-top: 1px solid #f1f1f1;
        border-left: none;
    }

    .nav-links.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .menu-toggle {
        display: block; /* show hamburger icon */
        padding-right: 10%;
        transition: all 0.5s ease-in-out;
    }

    .hero-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .hero h1 {
        text-align: center;
        font-size: 2rem;
        margin: 5%;
    }

    .hero-img {
        border-radius: 50%;
        display: block;
        width: 150px;
    }

    .bio {
        text-align: justify;
        padding: 0 7%;
        min-width: 300px;
        max-width: 500px;
    }

    .about {
        background-image: url(/week3/assignment3/images/programming-background-collage.jpg);
        background-position: center;
        background-size: cover;
        height: 80svh;
    }
    .about img {
        display: none;
    }

    .about p {
        background-color: rgba(0,0,0,0.5);
        color: #f1f1f1;
        text-align: justify;
        padding: 5%;
        max-width: 500px;
        margin: auto
    }

    .project-container {
        margin: auto;
        max-width: 700px;
    }

    .card-container {
        margin: auto;
    }
    .contact form{
        margin: auto;
    }

    footer {
        margin-block: 5%;
    }
    footer p {
        border: none;
        font-size: 1.5rem;
        text-align: center;
    }

    .footer-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-nav a {
        font-size: 1rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) { 

    h2 {
        font-size: 2rem;
    }
    .nav-links a { 
        font-size: 1rem;
    }

    .hero-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .hero h1 {
        text-align: center;
        font-size: 3rem;
        margin: 5%;
    }

    .hero-img {
        border-radius: 50%;
        display: block;
        margin-left: 5%;
        width: 250px;
    }

    .bio {
        text-align: justify;
        padding: 0 7%;
        min-width: 300px;
        max-width: 500px;
    }

    .about {
        background-image: url(/week3/assignment3/images/programming-background-collage.jpg);
        background-position: center;
        background-size: cover;
        height: 90svh;
    }
    .about img {
        display: none;
    }

    .about p {
        background-color: rgba(0,0,0,0.5);
        color: #f1f1f1;
        text-align: justify;
        padding: 5%;
        max-width: 500px;
        margin: auto;
    }

    .project-container {
        margin: auto;
        max-width: 900px;
    }
    .contact form{
        margin: auto;
    }

    footer {
        margin-block: 5%;
    }
    footer p {
        border: none;
        font-size: 2rem;
        text-align: center;
    }

    .footer-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-nav a {
        font-size: 1.5rem;
    }
    
}

@media screen and (min-width: 1024px) { 
    
    .hero-container {
        display: grid;
        grid-template-columns: repeat(2, 600px); /* 2 columns */
        grid-template-rows: 1fr; /* 1 row initially */
        gap: 10px;
        padding: 140px 0;
        height: 90svh;
        justify-content: center;
        max-width: 1024px;
        width: 100%;
    }

    .hero h1 {
        font-size: 7rem;
        margin: 5%;
        transition: all 1s ease-in-out;
    }

    .hero:hover {
        cursor: url('/week2/assignment2/images/thumbs-up-regular-full.svg'), auto;
    }

    .hero:hover h1 {
        font-size: 5rem;
    }
    .hero-img {
        border-radius: 50%;
        justify-self: right;
        
        height: 570px;
        transition: all 1s ease-in-out;
    }

    .hero:hover .hero-img, #hero:hover img{
        animation: rotate 2s;
        animation-iteration-count: 1;
        border-radius: 0% !important;
        z-index: 11;
    }

    @keyframes rotate {
        0% {transform: rotate(0deg);}
        10% {transform: rotate(10deg);}
        50% {transform: rotate(-10deg);}
        100% {transform: rotate(0deg);}
    }

    .hero-bio-container {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        width: 100%
    }

    .bio, #hero .lead {
        opacity: 0;
        margin-left: 30px;
        width: 450px;
        transition: all 1s ease-in-out;
    }

    .hero:hover .bio, #hero:hover .lead{
        opacity: 1;
    }

    h2{
        font-size: 3rem;
    }

    .grid-container, #about div{
        scale: 0.8;
        transition: all 0.5s ease-in-out;
    }

    .about:hover .grid-container, #about:hover div {
        scale: .95;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 10px;
        align-content: center;
        justify-content: center;
        justify-self: center;
    }

    .about p{
        color: white;
        text-align: justify;
        width: 500px;
    }

    .about img {
        max-width: 500px;
    }

    .project-container {
        justify-content: center;
        margin: 0 auto;
        max-width: 1140px;
        min-height: 50svh;
        width: 100%;
    }

    .contact {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 50px;
    }


    footer {
        display: grid;
        grid-template-columns: 4fr 3fr; 
        grid-template-rows: repeat(4, auto); 
        gap: 10px;
        margin-bottom: 10px;
        padding: 20px;
    }
    
    footer p {
        text-align: right;
        font-size: 3rem;
    }
    .footer-nav {
        flex-direction: column;
    }

    .footer-nav a{
        width: 160px;
        
    }

    .footer-nav a:hover {
        -webkit-box-reflect: initial;
    }
}



/* Bootstrap styling */

.navbar-nav .nav-item {
    text-align: center;
    min-width: 100px;
}

.navbar-brand {
    transition: all 0.5s ease-in-out;
}


.bootstrap .navbar-dark .navbar-nav .nav-link:hover,
.bootstrap footer a:hover {
  background-color: white;
  color: black !important;
  box-shadow: 0 0 5px white,
              0 0 25px white,
              0 0 50px white,
              0 0 200px white;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  transition: all 0.3s ease-in-out;
}

.bootstrap .navbar-collapse {
  transition: all 0.4s ease;
}

.bootstrap section {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease-out;
}

.bootstrap section.show {
  opacity: 1;
  transform: translateY(0);
}

/* Hero section styling */
.bootstrap .hero-container img {
  max-width: 250px;
  border-radius: 50%;
  border: 3px solid var(--bs-info);
  box-shadow: 0 0 15px var(--bs-info);
}

.bootstrap .hero-bio-container h1 {
  color: var(--bs-info);
  text-shadow: 0 0 10px var(--bs-info);
}

.form-control {
    background: #f1f1f1 !important;
}

.bootstrap footer {
  background-color: var(--bs-dark);
  color: var(--bs-body-color);
}


.bootstrap footer a {
    color: var(--bs-body-color);
    text-decoration: none;
    transition: color 0.3s ease;
    max-width: 70px;
}
/* Contact Form */
.btn {
    background-color: black;
    border: 1px solid black;
    color: white;
    transition: all 0.5s ease-in-out;
}

.btn:hover {
    border: 1px solid black;
    transition: all 0.5s ease-in-out;
}