:root {
    --bg-color: #2c2c2c;
    --fav-color: #f0f0f0;
    --font-color: #f0f0f0;
    --btn-active-color: white;
    --btn-active-bg: black;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hidden {
  display: none;
  transition: all 0.5s ease-in-out;
}

.visible {
  display: inherit;
  transition: all 0.5s ease-in-out;
}

body {
    background-color: var(--bg-color);
    color : var(--fav-color)
}

/* general button properties */
/* .btn {
    display: block;
    height: 40px;
    width: 150px;
} */

/* Top navigation */
.main-nav {
    align-items: center;
    justify-content: space-between;
    background: black;
    display: flex;
    height: 50px;
    left: 0;
    padding-inline: 20px;
    position: fixed;
    width: 100svw;
    top: 0;
}

.main-nav div {
    display: flex;
    justify-content: space-evenly;
    width: 600px;
}

.main-nav div a ~ a {
    border-left: 1px solid rgba(255, 255, 255, 0.5);

}

/* settings side menu */
.settings-menu {
  background: black;
  height: 100vh;
  left: -1000px;
  min-width: 75vw;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all 1s ease-in-out;
  z-index: 10;
}

.slide-right {
    left: 0px;
    opacity: 1;
    transition: all 1s ease-in-out;
}

.settings-item {
  border: 1px solid var(--fav-color);
}


/* welcome page */

h1 {
    margin: 70px 0 50px;
    text-align: center;
}

.new-user-sign-up {
    align-content: center;
    display: flex;
    justify-content: center;
    gap: 25px;
}

/* Demo styles */

.demo-grid-container {
    border: 1px solid var(--fav-color);
    border-radius: 10px;
    display: grid;
    gap: 20px;
    grid-template: 'weather important'
                   'calander calander'
                   'buttons buttons';
    padding: 20px;
    width: 45svw;
}

.demo-widget {
    border: 1px solid var(--fav-color);
    border-radius: 10px;
    height: 100%;
    padding: 10px;
    min-height: 200px;
    width: 100%;
}

.weather {
    color: var(--fav-color);
    grid-area: weather;
}

.important {
    grid-area: important;
}

.calander {
    grid-area: calander;
}

.button-container {
    display: grid;
    grid-area: buttons;
    grid-template-columns: 1fr 1fr 1fr;
}

.button-container .btn {
    height: 40px;
}

button.active {
  background: black;
  color: var(--btn-active-color);
  outline: 2px solid var(--btn-active-bg);
  z-index: 1;
}

.layout-one {
    grid-template: 'weather important'
                 'calander calander'
                 'buttons buttons';
}

.layout-two {
    grid-template: 'important important'
                   'calander weather'
                   'buttons buttons';
}

.layout-three {
    grid-template: 'weather important'
                   'weather calander'
                   'buttons buttons';
}

/* sign up area */

.sign-up {
    border: 1px solid var(--fav-color);
    border-radius: 10px;
    padding: 20px;
}

.sign-up h2 {
    margin: 20px 0;
    text-align: center;
}



.tagline {
    font-weight: 600;
}

.sign-up p {
    text-align: center;
    margin-top: 20px;
}

.new-user-info {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    margin-top: 30px;
}

.user-input-color {
    width: 100%;
}

.btn-command {
    border: none;
    border-radius: 50px;
    height: 50px;
    margin-top: 30px;
    width: 100%;

    font-size: 1.5rem;
    transition: all 0.5s ease-in-out;

    &:hover {
        
        background: var(--fav-color);
        border-radius: 0;
        color: black;
        cursor: pointer;
        box-shadow: 0 0 5px   var(--fav-color),
                    0 0 25px  var(--fav-color),
                    0 0 50px  var(--fav-color),
                    0 0 200px var(--fav-color);
        -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    }
}


